.search{
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    background-color: rgb(107, 107, 211);
    height: 100px;   
    width: 1100px;   
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
.search input{
  padding-left: 10px;
  width: 400px;
  height: 36px;
  border-style: none;
  border-radius: 30px  30px;
  margin-right: 10px;
  outline-style: none;
  box-shadow: rgb(45, 19, 75) 0px 20px 30px -10px;
}
.search button{
  border-radius: 30px  30px;
  box-shadow: rgb(45, 19, 75) 0px 20px 30px -10px;
}
.search .icon{
  height: 30px;
  width: 30px;
  
}



